language: python
python:
  - "2.7"
  - "3.6"

services:
  - postgresql

install:
  - pip install -r requirements.txt
  - pip install coveralls

before_script:
  - psql -c 'create database test_db;' -U postgres

script:
- pytest
- coverage run --source=. -m py.test && coverage report
- coveralls

after_success: coveralls
cache: pip